<div class="about-div" style="text-align: center">
  <br /><br />
  <br /><br />
  <!-- <img class="bakruond" src="../../../assets/bak.jpg" alt=""> -->
  <div class="card-container">
    <div class="card" id="card-my">
      <h2>אודותיי</h2>
      <h5 style="text-align: justify">רקע כללי</h5>
      <p style="text-align: justify">
        3 שנים מפתח תוכנה ומערכות ווב באופן עצמאי ללקוחות פרטיים, בין היתר
        פיתחתי, מערכת מידע קהילתי, מערכת הזנת שעות עבודה, מערכות API בזמן אמת,
        מערכות מאצינ'ג ועוד.. יכולת לימוד עצמאי לפי דוקומנטציות רשמיות, בלוגים, התמחות בהתקדמות והשכלת ידע עצמית, בזמן מהיר ומקסימלי,
        מתוך תיעודים רשמיים ומקורות אמינים, תשוקה ללמידת דברים חדשים, יצירתי וחוש
        טכנולוגי, נכונות לקחת אחריות, בניית פרויקטים בקצב פיתוח
        מהיר, שאיפה להצלחה מקסימלית, יחסי אנוש ותקשורת בינאנושית מעולים.
      </p>
      <h5 style="text-align: justify">מיומנות</h5>
      <p style="text-align: justify">
        כמתכנת Full-Stake אני כותב קוד גם ב- backend וגם ב- front end, כמובן ש-
        JavaScript הינה עיקר ההתמחות שלי, בגלל היותה שפה שניתן לכתוב בו גם לצד
        קליינט וגם לצד הסרבר, תיק עבודות מרוחב ניתן לראות כאן באתר תחת<a>תיק עבודות</a>כמו"כ המלצות מלקוחות קיימים תפגוש בהמשך העמוד.
      </p>
      <h5 style="text-align: justify">כלים וסביבת עבודה</h5>
      <p style="text-align: justify">
        מיותר להגיד שעורך הקוד האהוב עלי היא - VS Code, יחד עם כל מיני תוספות
        נחוצים וגם כאלה שלא, העבודה תהיה מושלמת, שפות התכנות והפריימוורקים
        האהובים עלי כבר תמצא לבד ברשימה בהמשך העמוד...
      </p>
    </div>
  </div>
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/HTML.png" class="img-logo" alt="" />
      <span>HTML</span>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/CSS.png" class="img-logo" alt="" />
      <span>CSS</span>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/JS.png" class="img-logo" alt="" />
      <span>JavaScript</span>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/Angular.png" class="img-logo" alt="" />
      <span>Angular</span>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/React.png" class="img-logo" alt="" />
      <span>React</span>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/Vue.png" class="img-logo" alt="" />
      <span>Vue</span>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/Node.png" class="img-logo" alt="" />
      <span>Node.js</span>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/Express.png" class="img-logo" alt="" />
      <span>Express.js</span>
    </a>
  </div>
  <h2>זה רק ההתחלה...</h2>
  <div dir="ltr" class="terminal">
    <object data="../../../assets/newReact.svg"></object>
  </div>
  <br />
  <div dir="ltr" class="terminal">
    <object data="../../../assets/newAngular.svg"></object>
  </div>
  <div dir="ltr" class="terminal">
    <object data="../../../assets/newVue.svg"></object>
  </div>

  <h2>בשימוש יום יומי</h2>
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/npm.png" class="img-logo" alt="" />
      <span>NPM</span>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/StackOverflow.png" class="img-logo" alt="" />
      <span>Stake</span>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/google.png" class="img-logo" alt="" />
      <span>Google</span>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <img src="../../../assets/github.png" class="img-logo" alt="" />
      <span>github</span>
    </a>
  </div>
</div>
