<div style="text-align: center">
  <br /><br />
  <div class="card-container">
    <div class="card" id="card-my">
      <h2>קצת עלי...</h2>
      <p>
        שמי, יוסף כץ, מפתח תוכנה עצמאי, אוהב לקודד, לפתח, ליצור - אתרי אינטרנט
        ומערכות ווב מורכבות.
      </p>
    </div>
    <div class="card" id="card-my">
      <h2>סביבת עבודה</h2>
      <p>
        איך לא? ברור שעורך הקוד שלי היא - vs code, בהמשך אפרט לך באילו תוספים אני משתמש, עקוב אחרי!!
      </p>
    </div>
    <div class="card" id="card-my">
      <h2>המלצה בלבד</h2>
      <p>
        מצאו את ההבדל: כל הזדמנות = קושי <> כל קושי = הזדמנות
      </p>
    </div>
    <div class="card" id="card-my">
      <h2>מיומנות</h2>
      <p>
        המיומנות שלי היא המיקצועיות בכתיבת קוד נקי מסודר ומאורגן, בפועל אשתמש
        בפרוייקטים כעדיפות בשפות תכנות כדלהלן:
      </p>
    </div>
  </div>
  <div class="card-container">
    <a
      class="card"
      target="_blank"
      rel="noopener"
      href="https://angular.io/cli"
    >
      <img src="../../../assets/HTML.png" class="img-logo" alt="" />
      <span>HTML</span>
    </a>
    <a
      class="card"
      target="_blank"
      rel="noopener"
      href="https://angular.io/cli"
    >
      <img src="../../../assets/CSS.png" class="img-logo" alt="" />
      <span>CSS</span>
    </a>
    <a
      class="card"
      target="_blank"
      rel="noopener"
      href="https://angular.io/cli"
    >
      <img src="../../../assets/JS.png" class="img-logo" alt="" />
      <span>JavaScript</span>
    </a>
    <a
      class="card"
      target="_blank"
      rel="noopener"
      href="https://angular.io/cli"
    >
      <img src="../../../assets/Angular.png" class="img-logo" alt="" />
      <span>Angular</span>
    </a>
    <a
      class="card"
      target="_blank"
      rel="noopener"
      href="https://angular.io/cli"
    >
      <img src="../../../assets/React.png" class="img-logo" alt="" />
      <span>React</span>
    </a>
    <a
      class="card"
      target="_blank"
      rel="noopener"
      href="https://angular.io/cli"
    >
      <img src="../../../assets/Vue.png" class="img-logo" alt="" />
      <span>Vue</span>
    </a>
    <a
      class="card"
      target="_blank"
      rel="noopener"
      href="https://angular.io/cli"
    >
      <img src="../../../assets/Node.png" class="img-logo" alt="" />
      <span>Node.js</span>
    </a>
    <a
      class="card"
      target="_blank"
      rel="noopener"
      href="https://angular.io/cli"
    >
      <img src="../../../assets/Express.png" class="img-logo" alt="" />
      <span>Express.js</span>
    </a>
  </div>
  <h2>החברים שלי</h2>
  <div dir="ltr" class="terminal">
    <object data="../../../assets/newReact.svg"></object>
  </div>
<br>
  <div dir="ltr" class="terminal">
    <object data="../../../assets/newAngular.svg"></object>
  </div>
  <div dir="ltr" class="terminal">
    <object data="../../../assets/newVue.svg"></object>
  </div>
</div>
