<div class="my_header">
    <div class="logo">
        <img src="../../../assets/vscode-icon.png" alt="">
    </div>
    &nbsp;&nbsp;
    <div class="copticon">
        <h3>FastDigital - פיתוח תוכנה</h3>
    </div>
    <div class="links">
        <nav>
            <ul>
                <li>אודות</li>
                <li>תיק עבודות</li>
                <li>מאמרים</li>
                <li>חדשות</li>
                <li>צור קשר</li>
            </ul>
        </nav>
    </div>
    <div class="alert">
        <p> 🤌 האתר בבנייה 🏗️</p>
    </div>
</div>
